In [1]:
#converters argument in read_excel() method
import pandas as pd
df = pd.read_excel("weather1.xlsx","Sheet1")
df

         day temprature      windspeed event
0 2017-01-01         32              6  rain
1 2017-02-01         35              7  n.a.
2 2017-03-01       n.a.  not avaliable  n.a.
3 2017-04-01       n.a.              7  snow
4 2017-05-01         32              4  rain
5 2017-06-01         32              2  n.a.

In [2]:
def convert_temprature_cell(cell):
    if cell == "n.a.":
        return 26
    return cell

def conert_windspeed_cell(cell):
    if cell=="not avaliable":
        return None
    return cell

def event_converter_cell(cell):
    if cell=="n.a.":
        return "sunny"
    return cell

df = pd.read_excel("weather1.xlsx","Sheet1", converters = {
    'temprature' : convert_temprature_cell,
    'windspeed' : conert_windspeed_cell,
    'event' : event_converter_cell
   
})
df

         day  temprature  windspeed  event
0 2017-01-01          32        6.0   rain
1 2017-02-01          35        7.0  sunny
2 2017-03-01          26        NaN  sunny
3 2017-04-01          26        7.0   snow
4 2017-05-01          32        4.0   rain
5 2017-06-01          32        2.0  sunny

In [3]:
#to_excel() =>create new excel file
df = pd.read_csv("weather2.csv", na_values={
    'temprature' : ["not avaliable", "n.a."],         #only convert not avaliable and n.a. values to Nan
    'windspeed' : ["not avaliable", "n.a.",-8,-7],
    'event': ["not avaliable", "n.a."]
})
df

In [5]:
df.to_excel("new.xlsx",sheet_name="weather Data", startrow=1, startcol=2, index=False)

In [8]:
#ExcelWritter() class to create excel file
df_w1 = pd.DataFrame({
    'temprature' : [7,5,7],         
    'windspeed' : [9,8,7],
    'event': ["not avaliable", "n.a.","rain"]
})

df_w2 = pd.DataFrame({
    'temprature' : [12,15,18],         
    'windspeed' : [5,-8,-7],
    'event': ["not avaliable", "n.a.","sunny"]
})

In [9]:
with pd.ExcelWriter("weather_data.xlsx") as writer:
    
    df_w1.to_excel(writer, sheet_name="w1")
    df_w2.to_excel(writer, sheet_name="w2")

In [ ]:
#google pandas read csv documentation