In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\FX506LH\\Desktop\\DS\\weather.csv")
df

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017          24          7   snow
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [3]:
weather_data={
     "day":['01-01-2017','01-02-2017','01-03-2017','01-04-2017','01-05-2017','01-06-2017'],
    'temprature':[32,35,28,2,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['rain','sunny','snow','snow','rain','sunny']

}
df=pd.DataFrame(weather_data)
df

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017           2          7   snow
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [4]:
rows,columns=df.shape

In [5]:
rows

6

In [6]:
columns

4

In [7]:
df.head()#to print first few rows not entire data

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017           2          7   snow
4  01-05-2017          32          4   rain

In [8]:
df.head(2)

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny

In [9]:
df.tail(2)

          day  temprature  windspeed  event
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [10]:
df[2:5]

          day  temprature  windspeed event
2  01-03-2017          28          2  snow
3  01-04-2017           2          7  snow
4  01-05-2017          32          4  rain

In [11]:
df[:]

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017           2          7   snow
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [12]:
df.columns

Index(['day', 'temprature', 'windspeed', 'event'], dtype='object')

In [13]:
df.day

0    01-01-2017
1    01-02-2017
2    01-03-2017
3    01-04-2017
4    01-05-2017
5    01-06-2017
Name: day, dtype: object

In [14]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [15]:
type(df['event'])

pandas.core.series.Series

In [17]:
df[['event','day','temprature']]

   event         day  temprature
0   rain  01-01-2017          32
1  sunny  01-02-2017          35
2   snow  01-03-2017          28
3   snow  01-04-2017           2
4   rain  01-05-2017          32
5  sunny  01-06-2017          32

In [19]:
df['temprature']

0    32
1    35
2    28
3     2
4    32
5    32
Name: temprature, dtype: int64

In [21]:
df['temprature'].max()

35

In [22]:
df['temprature'].min()

2

In [23]:
df.describe()

       temprature  windspeed
count    6.000000   6.000000
mean    26.833333   4.666667
std     12.367969   2.338090
min      2.000000   2.000000
25%     29.000000   2.500000
50%     32.000000   5.000000
75%     32.000000   6.750000
max     35.000000   7.000000

In [24]:
#print only those rows whose temprature >=32
df[df.temprature>=32]

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [28]:
#print row of max tempratue
df[df.temprature==df.temprature.max()]

          day  temprature  windspeed  event
1  01-02-2017          35          7  sunny

In [29]:
df[df.temprature==df['temprature'].max()]

          day  temprature  windspeed  event
1  01-02-2017          35          7  sunny

In [30]:
#to print only day of max temp
df['day'][df.temprature==df['temprature'].max()]

1    01-02-2017
Name: day, dtype: object

In [32]:
#to print only day and temp of max temp
df[['day','temprature']][df.temprature==df['temprature'].max()]

          day  temprature
1  01-02-2017          35

In [ ]:
#refer pandas series operationss documentaion

In [34]:
df

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017           2          7   snow
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [35]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [37]:
#to change index to day
df.set_index('day')

            temprature  windspeed  event
day
01-01-2017          32          6   rain
01-02-2017          35          7  sunny
01-03-2017          28          2   snow
01-04-2017           2          7   snow
01-05-2017          32          4   rain
01-06-2017          32          2  sunny

In [38]:
df

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017           2          7   snow
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [39]:
#to change index to day permanantly in orignat dataset
df.set_index('day',inplace=True)

In [40]:
df

            temprature  windspeed  event
day
01-01-2017          32          6   rain
01-02-2017          35          7  sunny
01-03-2017          28          2   snow
01-04-2017           2          7   snow
01-05-2017          32          4   rain
01-06-2017          32          2  sunny

In [41]:
df.loc['01-01-2017']  #to get deatils of specific day

temprature      32
windspeed        6
event         rain
Name: 01-01-2017, dtype: object

In [44]:
#to reset index to as per orignal dataset
df.reset_index(inplace=True)
df

          day  temprature  windspeed  event
0  01-01-2017          32          6   rain
1  01-02-2017          35          7  sunny
2  01-03-2017          28          2   snow
3  01-04-2017           2          7   snow
4  01-05-2017          32          4   rain
5  01-06-2017          32          2  sunny

In [45]:
df.set_index('event',inplace=True)#to change index to event permanantly in orignat dataset

In [46]:
df

              day  temprature  windspeed
event
rain   01-01-2017          32          6
sunny  01-02-2017          35          7
snow   01-03-2017          28          2
snow   01-04-2017           2          7
rain   01-05-2017          32          4
sunny  01-06-2017          32          2

In [47]:
df.loc['snow']#to get deatils of specific event

              day  temprature  windspeed
event
snow   01-03-2017          28          2
snow   01-04-2017           2          7